<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kmong iOS App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
				<key>dateExpires</key>
				<string>2021/08/20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Amplitude_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppboyPushStory.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Appboy_iOS_SDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BSImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Gzip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>HyperionCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JTAppleCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JWTDecode.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KakaoAdSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NaverThirdPartyLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PusherSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TTGSnackbar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>URLRequest_cURL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>WXYCH524LL.com.kmong-dev.iOS.Kmong-iOS-App-Notification-Content-Extension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>WXYCH524LL</string>
						<key>get-task-allow</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>WXYCH524LL.com.kmong-dev.iOS.Kmong-iOS-App-Notification-Content-Extension</string>
						</array>
					</dict>
					<key>name</key>
					<string>Kmong iOS App Notification Content Extension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>e512142b-af30-43cd-8981-0430f22e5e62</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.kmong-dev.iOS.Kmong-iOS-App-Notification-Content-Extension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2676455B078C6B9EFFAD61B65F0D2C54C7D74B74</string>
						<key>dateExpires</key>
						<string>2021/08/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>WXYCH524LL.com.kmong-dev.iOS.Kmong-iOS-App-Notification-Service</string>
						<key>com.apple.developer.associated-domains</key>
						<array>
							<string>applinks:kmong.airbridge.io</string>
						</array>
						<key>com.apple.developer.team-identifier</key>
						<string>WXYCH524LL</string>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>Kmong iOS App Notification Service.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>ded9d6d9-72bb-48bd-935d-9c183b791502</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.kmong-dev.iOS.Kmong-iOS-App-Notification-Service</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WXYCH524LL</string>
						<key>name</key>
						<string>KMONG</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WXYCH524LL.com.kmong-dev.iOS</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:kmong.airbridge.io</string>
					<string>applinks:kmong.onelink.me</string>
					<string>webcredentials:kmong.com</string>
					<string>applinks:click.kmong.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>WXYCH524LL</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.kmong.iOS</string>
					<string>group.com.kmong.iOS.extension</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Kmong iOS App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a4476afb-ac5e-4fd8-a9cc-3bd64c57b0ba</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.kmong-dev.iOS</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WXYCH524LL</string>
				<key>name</key>
				<string>KMONG</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
